:root{
    --grey: #808080;
    --white: #e7e7e7;
    --white: #f5f5f5;
    --slategray: #708090;
    --prussian: #003152;
}
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}
a{
    text-decoration: none;
}
.logo{
    color: white;
}
.nav-bar{
    max-width: 1200px;
    margin-left: 10px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    display: flex;
    flex-direction: row;    
}
.usernav-bar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.nav-bar ul{    
    display: flex;
    flex-direction: row;
    margin-left: 45%;
    padding: 5px;
}
.usernav-bar ul{
    display: flex;
    flex-direction: row;
    margin-left: 65%;
    padding: 16px;
}
.usernav-bar2 ul{
    display: flex;
    flex-direction: row;
    margin-left: 90%;
    padding: 16px;
}
.nav-bar li{
    width: 100px;
    height: 40px;    
    list-style: none;
    padding: 25px 2px;
}
.usernav-bar li{
    width: 120px;
    height: 40px;    
    list-style: none;
    padding: 25px 2px;
}
.usernav-bar2 li{
    width: 120px;
    height: 40px;    
    list-style: none;
    padding: 25px 2px;
}
.header{
    line-height: 40px;
    background-color: var(--prussian);
}

.app-name{
    float: left;
    color: white;    
    padding-left: 2%;
}

.app-name h1{
    font-size: 40px;
}

.top-display h1{
    padding-top: 5px;
    font-size: 40px;
    margin-bottom: 10px;
}
.wrapper{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(images/landing.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(images/login.jpg);
    height: 160vh;
    background-size: cover;
    background-position: center;
}
.container-edit{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(images/login.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}
.welcome{
    padding-top: 45px;
    width: 1200px;
    margin-left: 70px;
}
.welcome h1{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}
.report{
    margin-bottom: 10%;
}

h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
.welcome p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.welcome h3{
    font-style: italic;
    text-align: center;
    font-size: 18px;
    color: white;
    
}
.welcome h3 a{
    color: white;    
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.cat-btn{
    color: white;
    background: blue;
    border-radius: 5px;
    padding: 0.2rem 2.6rem;
    border: 0;
}
.group-btn{
    color: white;
    background: blue;
    padding: 0.2rem 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
}
.group-btn:hover{
    background: red;
}
.cat-btn:hover{
    background: black;
}
.btn{
    color: white;
    background: #093374;
    padding: 0.6rem 1.3rem;
    border: 0;
    border-radius: 4px;    
}
.deletebtn{
    color: white;
    background: red;
    padding: 0.6rem 1.3rem;
    border: 0;
    border-radius: 4px;
    margin-left: 40%;
}
.btn:hover{
    background: black;    
}
.login1-div{
    width: 320px;
    height: 300px;
    background:var(--slategray);
    color: black;
    top: 50%;
    left: 48%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-input{
    width: 100%;
    padding: 12px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white; 
}
.login-input-des{
    width: 100%;
    padding: 25px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-button{
    width: 97%;
    padding: 12px;    
    display: inline-block;
    background-color: #093374;
    color: var(--white);
    border: 0;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-button:hover{
    background: black;
}
.login-div{
    width: 320px;
    height: 470px;
    background:var(--slategray);
    color: black;
    top: 50%;
    left: 47%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 5px;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Create-record{
    margin-top: 20%;
    width: 520px;
    height: 560px;
    background:var(--slategray);
    color: black;
    top: 30%;
    left: 47%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 30px;
    border-radius: 5px;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#latitude{
    width: 48%;
}
.login h3{
    text-align: center;
}
.reg-cover{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(images/login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.log-cover{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(images/login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.RedFlags{
    display: flex;
    flex-direction: row;
}
.RedFlags table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
    margin-left: 10px;
}
.RedFlags h2{
    color: white;
    margin-left: 10px;
}
th{
    color: white;
    background: blue;
}
td, th {
    border: 0.5px solid #708090;
    text-align: left;
    padding: 10px;
}
tr{
    background-color: white;
}
.Usercolumn {
    margin-right: 5%;
    margin-left: 2%;
}
.Usercolumn h2{
    text-align: center;
}
.Usercolumn2{
    margin-right: 5%;
    margin-top: 5%;
}
.Usercolumn2 h2{
    text-align: center;
}
.Admin-table {
    margin-left: 20px;
    margin-right: 20px;
}
.Admin-table h2 {
    text-align: center;
}

.text{
    color: white;
}

@media (max-width: 700px){
    .nav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .usernav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;

    }
    .header{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        line-height: 20px;
        background-color: var(--prussian);
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container-edit{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }
    .Create-record{
        margin-top: 70%;
        margin-bottom: 20%;
        width: 400px;
        height: 370px;
        background:var(--slategray);
        color: black;
        top: 30%;
        left: 47%;
        position: absolute;
        transform: translate(-50%,-50%);
        padding: 30px 30px;
        border-radius: 5px;  
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .btn{
        color: white;
        background: #093374;
        padding: 0.3rem 0.7rem;
        border: 0;
        border-radius: 2px;
    }
    .welcome{
        padding-top: 20px;
        width: 500px;
        margin-left: 0px;
    }
    .welcome p{
        color: white;
        text-align: center;
        font-size: 30px;
        font-style: italic;
    }
    .Admin-table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: fit-content;
    }
    td, th {
        border: 0.5px solid #708090;
        text-align: left;
        padding: 1px;
    }
    .RedFlags{
        display: flex;
        flex-direction: row;
    }
    
}
@media(max-width: 500px){
    .nav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .usernav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .header{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        line-height: 15px;
        background-color: var(--prussian);
    }
    .Create-record{
        margin-top: 90%;
        width: 250px;
        height: 450px;
        background:var(--slategray);
        color: black;
        top: 30%;
        left: 47%;
        position: absolute;
        transform: translate(-50%,-50%);
        padding: 30px 30px;
        border-radius: 5px;  
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .container-edit{
        display: flex;
        flex-direction: column;
        height: 170vh;
        width: fit-content;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 310vh;
        justify-content: center;
        width: fit-content;
    }
    .Admin-table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: fit-content;
    }
    td, th {
        border: 0.5px solid #708090;
        text-align: left;
        padding: 1px;
    }
    .welcome{
        padding-top: 20px;
        width: 500px;
        margin-left: 0px;
    }
    .welcome p{
        color: white;
        text-align: center;
        font-size: 20px;
        font-style: italic;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        width: fit-content;       
    }
    .RedFlags{
        display: flex;
        flex-direction: column;
    }   
}
@media(max-width: 650px){
    .RedFlags{ 
        display: flex;
        flex-direction: column;
    }
    .nav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .usernav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 310vh;
        justify-content: center;
        width: fit-content;
    }
    .container-edit{
        display: flex;
        flex-direction: column;
        height: 220vh;
        width: fit-content;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        width: fit-content;       
    }
} 
@media(max-width: 480px){
    .RedFlags{ 
        display: flex;
        flex-direction: column;
    }
    .nav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .usernav-bar ul{
        margin-left: 0;
        flex-direction: row;
        justify-content: left;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 310vh;
        justify-content: center;
        width: fit-content;
    }
    .container-edit{
        display: flex;
        flex-direction: column;
        height: 220vh;
        width: fit-content;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        width: fit-content;       
    }

}

